@model IEnumerable<DTO.DocumentDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h4>@Html.ActionLink("Create New", "Create")</h4>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <ul class="d-flex justify-content-center">
                        <li class="mr-3"><a href="/Admin/Corrosion/Edit/@item.Id" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                        <li><a href="/Admin/Corrosion/Delete/@item.Id" class="text-danger"><i class="ti-trash"></i></a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
@section ShortPath {
    <ul class="breadcrumbs pull-left">
        <li><span>Corrosion</span></li>
    </ul>
}