@model HomePageVST.Models.CoporateCitizenViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-detail" style="width:980px;margin-left:20%">
    <div id="ccRow" class="row">
        <div class="col-xs-10">
            <center><h4 class="wow fadeInUp" data-wow-delay="0.6s" style="margin-left:auto; margin-right:auto">COPORATE CITIZEN</h4></center>
            <div class="archive_list">
                <ul class="clearfix">
                    @foreach (var category in Model.CoporateCitizenCategories)
                    {
                        string url = "/coporate-citizen-newsroom-p" + @category.Id + ".html";
                        <li>
                            <a href="@url">
                                <div class="thumb_wrap">
                                    <div class="thumb" style="background-image:url(@category.Thumbnail);"></div>
                                </div>
                                <div class="cont_wrap">
                                    <p class="title" style="overflow-wrap: break-word;">@category.Title</p>
                                    <p class="meta">
                                        <span class="date">@Convert.ToDateTime(category.DatePosted).ToShortDateString()</span>
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="infographicsRow" class="row">
        <div class="col-xs-10">
            <center><h4 class="wow fadeInUp" data-wow-delay="0.6s" style="margin-left:auto; margin-right:auto">Infographics</h4></center>
            <div style="font-size:14px; font-family:Tahoma; color:#797977; width:850px">
                @foreach (var image in Model.Images)
                {
                    <div class="col-xs-4" style="height:170px;margin-bottom:20px;padding-right:3px;padding-left:0">
                        <div class="col-xs-12">
                            <a href="@image.FilePath" data-lightbox="image-1" data-title="@image.ImageDescription">
                                <img class="wow fadeInUp lazy" data-wow-delay="0.7s" data-src="@image.MinimalFilePath" style="width: 100%;height:143px" />
                            </a>
                        </div>
                        <div class="col-xs-12">
                            <span class="galery-link">@image.ImageDescription</span>
                        </div>
                    </div>
                }
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
@section LeftMenu {
    <ul class="menu-vertical" style="color:gray;margin-top:18.5px;font-size:8px;">
        <li class="mv-item border-menu" style="background-color:white;border-top:1px solid gray; border-bottom:1px solid gray"><a href="news-information.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>News & Information</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;"><a href="facilities.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma">▶&nbsp;&nbsp;<b>Facilities</b></a></li>
        <li class="mv-item border-menu" style="background-color:white;border-bottom:1px solid gray;"><a href="coporate-citizen.html" style="font-size: 11pt; font-weight:bold; font-family:Tahoma; background-color:#a2c9f0">▶&nbsp;&nbsp;<b>Coporate Citizen</b></a></li>
    </ul>
}
@section footerJs {
    @Scripts.Render("~/js/jquery.lazy")
    <script>
        $(function () {
            $('.lazy').lazy({
                threshold: 0
            });
        });
    </script>
}
@section headerCss {
    <style>
        @@media screen and (max-width: 1024px) {
            #content-detail .col-xs-10 {
                overflow: unset;
            }
        }

        .archive_list ul {
            width: auto;
            height: auto;
            margin-right: -30px;
        }

        .clearfix {
            display: block;
        }

        .archive_list li {
            float: left;
            width: 50%;
            padding: 10px;
        }

            .archive_list li a {
                display: block;
                width: 100%;
                color: #333;
            }

        .archive_list .thumb_wrap {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
        }

        .archive_list .thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            transition: transform 0.5s ease-out;
            -moz-transition: transform 0.5s ease-out;
            -ms-transition: transform 0.5s ease-out;
            -o-transition: transform 0.5s ease-out;
            -webkit-transition: transform 0.5s ease-out;
        }

        .archive_list .cont_wrap {
            margin-top: 15px;
        }

        .archive_list .title {
            overflow: hidden;
            margin-bottom: 0.556em;
            font-weight: 500;
            font-weight: bold;
            line-height: 1.4em;
            max-height: 4.2em;
        }

            .archive_list .title:hover {
                text-decoration: underline;
            }

        .archive_list .thumb:hover {
            transform: scale(1.05);
        }

        p.wp-caption-text {
            padding-top: 3px;
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            color: #999;
            text-align: left;
        }
    </style>
}