@model DTO.RecruitmentDTO
@using HomePageVST.Extensions.AntiModelInjection
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiModelInjectionFor(x => x.Id)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control" }, @id = "txtJobDescription", @cols = 80, @rows = 10 })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JobRequirement, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.JobRequirement, new { htmlAttributes = new { @class = "form-control" }, @id = "txtJobRequirement", @cols = 80, @rows = 10 })
                @Html.ValidationMessageFor(model => model.JobRequirement, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DatePosted, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DatePosted, new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                @Html.ValidationMessageFor(model => model.DatePosted, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateExpired, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DateExpired, new { htmlAttributes = new { @class = "form-control", @type = "datetime" } })
                @Html.ValidationMessageFor(model => model.DateExpired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div style="padding-left:20px">
    @Html.ActionLink("Back to List", "Index")
</div>
@section ShortPath {
    <ul class="breadcrumbs pull-left">
        <li>@Html.ActionLink("Recruitment", "Index")</li>
        <li><span>Edit</span></li>
    </ul>
}
@section footerJs {
    <script>
        CKEDITOR.replace('txtJobDescription');
        CKEDITOR.replace('txtJobRequirement');

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                changeYear: true,
                todayHighlight: true,
                yearRange: "-60:+0"
            });
        });
    </script>
}