@model IEnumerable<DTO.HeaderDetailDTO>
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container" style="margin-left: auto; margin-right: auto">
        <div class="row">
            <div style="width:960px;margin:auto;" id="header-wrapper">
                <div style="float:left;">
                    <a href="home.html"><img src="~/media/images/poscovstlogo.png" style="width:135px; margin:auto;" /></a>
                    <br />
                </div>
                <div style="float:right;height:40px">
                    <center><img src="~/media/images/icon/SLOGANVST.png" style="width:250px; height:20px" /></center>
                    <center>
                        <a href="home.html" style="color: #A9A8A8; font-size:14px"><b>Home</b></a>
                        <a href="contact-vst.html" style="color: #A9A8A8; font-size:14px"><b> | Contact Us</b></a>
                        <a href="site-map.html" class="smoothScroll" style="color: #A9A8A8; font-size:14px"><b> | Site Map</b></a>
                        @if (Session["CustomerEmail"] != null)
                        {
                            <a href="/Customer/Logout" id="logout-sm" class="smoothScroll" style="color: #A9A8A8; font-size:14px"><b> | Logout</b></a>
                            <div class="dropdown" id="logout-xs">
                                <a href="#" class="smoothScroll dropdown-toggle" data-toggle="dropdown" style="color: #A9A8A8; font-size:14px"><b> | <span class="caret"></span></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="smoothScroll" style="color: #A9A8A8; font-size:14px" data-toggle="modal" data-target="#changePasswordModal">Change Password</a></li>
                                    <li><a href="/Customer/Logout" class="smoothScroll" style="color: #A9A8A8; font-size:14px">Logout</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="#" class="smoothScroll" style="color: #A9A8A8; font-size:14px" data-toggle="modal" data-target="#loginModal"><b> | Login</b></a>
                        }
                    </center>
                </div>
                <div class="nav-btn clear">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div style="width:860px;margin:auto; height:auto;">
                    <div id="navbar_menu" class="menu_side">
                        <ul class="first-ul; nav navbar-nav navbar-right;">
                            @foreach (var headerCategory in Model.Where(x => x.ParentId == null).GroupBy(x => new { x.HeaderCategoryId, x.HeaderCategory.Name }).Select(x => x.Key))
                            {
                                var listHeaderDetailByCategoryId = Model.Where(x => x.HeaderCategoryId == headerCategory.HeaderCategoryId && x.ParentId == null);
                                <li>
                                    <a>@headerCategory.Name</a>
                                    @if (listHeaderDetailByCategoryId.Any())
                                    {
                                        <ul>
                                            @foreach (var headerDetail in listHeaderDetailByCategoryId)
                                            {
                                                var listHeaderDetailByCategoryIdSub = Model.Where(x => x.HeaderCategoryId == headerDetail.HeaderCategoryId && x.ParentId == headerDetail.Id);
                                                string url = headerDetail.Alias == null ? "#" : headerDetail.Alias + ".html";

                                            <li class="li-category">
                                                @if (headerDetail.Alias == "purchasing")
                                                {
                                                    <a href="@url" target="_blank">@headerDetail.Name</a>
                                                }
                                                else
                                                {
                                                <a href="@url">@headerDetail.Name</a>
                                                }
                                                @if (listHeaderDetailByCategoryIdSub.Any())
                                                {
                                            <ul>
                                                @foreach (var headerDetailSub in listHeaderDetailByCategoryIdSub)
                                                {
                                                    var listHeaderDetailByCategoryIdSub2 = Model.Where(x => x.HeaderCategoryId == headerDetailSub.HeaderCategoryId && x.ParentId == headerDetailSub.Id);
                                                    string urlSub = headerDetailSub.Alias == null ? "#" : headerDetailSub.Alias + ".html";
                                            <li class="li-category">
                                                <a href="@urlSub">@headerDetailSub.Name</a>
                                                @if (listHeaderDetailByCategoryIdSub2.Any())
                                                {
                                            <ul>
                                                @foreach (var headerDetailSub2 in listHeaderDetailByCategoryIdSub2)
                                                {
                                                    string urlSub2 = headerDetailSub2.Alias == null ? "#" : headerDetailSub2.Alias + ".html";
                                            <li class="li-category">
                                                <a href="@urlSub2">@headerDetailSub2.Name</a>
                                            </li> }
                                            </ul>}
                                            </li>}
                                            </ul>}
                                            </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>